<a href="https://colab.research.google.com/github/EmaanAhmad27/Myself-Essay-Assignment/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

New Section

In [ ]:
#Create a function that converts temperatures between Celsius and Fahrenheit.
def conversion (Fahrenheit: float):
  celsius = Fahrenheit - 32 * 5/9
  return celsius
result = conversion(75)
print (result)
def convert_temp (Celsius:float):
  Fahrenheit = Celsius * 9 / 5 + 32
  return Fahrenheit
result = convert_temp (50)
print (result)

57.22222222222222
122.0

Write a function to check if a given year is a leap year.

Function name: is_leap_year
Parameter: year (int)
A year is a leap year if it is divisible by 4, but not by 100 unless it is also divisible by 400.
Return True if the year is a leap year, otherwise False.

In [ ]:
def is_leap_year (year:int):
  if year % 4 == 0:
    return True
  else:
    return False
result = is_leap_year (2024)
print (result)

True

Write a function to check if a number is prime.

Function name: is_prime
Parameter: num (int)
A prime number is only divisible by 1 and itself.
Return True if the number is prime, otherwise False.

In [ ]:
def is_prime (num):
  if num == 1 == num:
    return True
  else:
    return False
result = is_prime (50)
print (result)

False

In [ ]:
def check_num (n:int):
  if n % 2:
    return True
  else:
    return False
result = check_num(10)
print(result)

False

Create a function that takes a score and returns a grade (A, B, C, D, or F).

Function name: calculate_grade
Parameter: score (int)
Use if, elif, and else to return the grade:
A for 90 and above
B for 80-89
C for 70-79
D for 60-69
F for below 60

In [ ]:

def give_score (n):
  if n == 90:
    return "A"
  elif n == 80:
    return "B"
  elif n == 50:
    return "C"
  else:
    return "D"
result = give_score(20)
print(result)

D

In [ ]:
i = 10
while i >= 1:
  print (i)
  i -= 1
print ("Blastoff!")

10
9
8
7
6
5
4
3
2
1
Blastff!

In [ ]:
secret_number = 7
Guess = int(input("Guess the number between 1 and 10:"))
while secret_number != Guess:
  print("Try again")
  Guess = int(input("Guess the number between 1 and 10:"))
print("You got it")

Guess the number between 1 an 10:4
Try again
Guess the number between 1 and 10:7
You got it

In [ ]:
password = ("minatina")
guess = input("Guess the password:")
while guess != password:
  print("incorrect password")
  guess = input("Guess the password:")
print ("successful login")

Guess the password:janu
incorrect password
Guess the password:minu
incorrect password
Guess the password:minatina
successful login

In [ ]:
total = 0
while True:
  user_input = input("Enter a given number or type 'stop':")
  if user_input == "stop":
    break
  number = int(user_input)
  total += number
print ("total_num:", total)

Enter a given number:10
Enter a given number:20
Enter a given number:30
Enter a given number:stop
total_num: 60

In [ ]:
correct_answer = "Islamabad"
while True:
  user_input = input("Enter the capital:")
  if user_input == correct_answer:
    print("correct answer")
    break
  else:
    print("try again")

Enter the capital:lahore
try again
Enter the capital:Islamabad
correct answer

In [ ]:
number = 1
while True:
  number *= 2
  print (number)
  if number > 1000:
    break

2
4
8
16
32
64
128
256
512
1024

In [ ]:
answer = 10
while True:
  user_ans = int(input("What's 5 times 2?:"))
  user_ans != answer
  if user_ans == answer:
    print ("correct answer")
    break

What's 5 times 2?:3
What's 5 times 2?:4
What's 5 times 2?:10
correct answer

In [ ]:
answer = "gigubigu"
while True:
  user_ans = input("enter the secret word:")
  if user_ans == answer:
     print ("correct answer")
     break
  else:
    print("wrong answer")

enter the secret word:vdh
wrong answer
enter the secret word:gigubigu
correct answer

In [ ]:
correct_word = "hingu"
while True:
  user_input = input("type a random word to guess:")
  if user_input != correct_word:
    print ("try again")
  else:
    print ("correct answer")
    break

type a random word to guess:pingu
try again
type a random word to guess:hingu
correct answer

In [ ]:
i = 1
for i in range(1, 6):
  print(str(i) * i)

1
22
333
4444
55555

In [ ]:
number = int(input("enter a number to get its multiplication table:"))
for i in range (1,11):
  print (f"{number} x {i}= {i*number}")

5 x 1= 5
5 x 2= 10
5 x 3= 15
5 x 4= 20
5 x 5= 25
5 x 6= 30
5 x 7= 35
5 x 8= 40
5 x 9= 45
5 x 10= 50

giving max 3 attempts to enter password

In [ ]:
password = "gugu"
attempts = 0
while True:
  user_input = input("enter the password:")
  if user_input != password:
      print ("try again")
      attempts += 1
      if attempts == 3:
        print ("access denied")
        break

enter the password:bjk
try again
enter the password:jb
try again
enter the password:bjb
try again
access denied

reversing the word

In [ ]:
word = "summer"
reversed_word = ""
for x in word:
    reversed_word = x + reversed_word
print ("Reversed word:", reversed_word)

Reversed word: remmus

creating a timer that sleeps for 1 sec in between

In [ ]:
import time
number = 10
while number > 0:
  print (number)
  number -= 1
  time.sleep(1)
print ("times up")

10
9
8
7
6
5
4
3
2
1
times up

In [ ]:
for i in range(1, 50):
  if i % 3 == 0:
    print("fuzz")
  elif i % 5 == 0:
    print("buzz")
  elif i % 3 == 0 and i % 5 == 0:
    print ("fuzzbuzz")
  else:
    print(i)

1
2
fuzz
4
buzz
fuzz
7
8
fuzz
buzz
11
fuzz
13
14
fuzz
16
17
fuzz
19
buzz
fuzz
22
23
fuzz
buzz
26
fuzz
28
29
fuzz
31
32
fuzz
34
buzz
fuzz
37
38
fuzz
buzz
41
fuzz
43
44
fuzz
46
47
fuzz
49

In [ ]:
nums = [3, 6, 8, 4, 1, 10, 17, 5]
largest = nums [0]
for number in nums:
  if number > largest:
    largest = number
print("The largest number is:", largest)

The largest number is: 17

In [5]:
shopping_list = []
while True:
  print ("options: [1] add item [2] remove item [3] view list [4] exit")
  user_choice = (input("Enter your choice:"))
  if user_choice == "1":
    user_input = input("Enter an item to add in the list:")
    shopping_list.append(user_input)
    print (f"The item {user_input} is added into the cart")
  elif user_choice == "2":
    remove_item = input("Which item you want to remove from the list:")
    if remove_item in shopping_list:
      shopping_list.remove(remove_item)
      print ("The item has been successfully removed")
    else:
      print(f"The {remove_item} is not present in the cart")
  elif user_choice == "3":
    print ("Your shopping cart", shopping_list)
  elif user_choice == "4":
    print ("Good bye")
    break
  else:
    print("Invalid choice. Please try again.")

options: [1] add item [2] remove item [3] view list [4] exit
Enter your choice:1
Enter an item to add in the list:apple
The item apple is added into the cart
options: [1] add item [2] remove item [3] view list [4] exit
Enter your choice:1
Enter an item to add in the list:banana
The item banana is added into the cart
options: [1] add item [2] remove item [3] view list [4] exit
Enter your choice:2
Which item you want to remove from the list:banana
The item has been successfully removed
options: [1] add item [2] remove item [3] view list [4] exit
Enter your choice:3
Your shopping cart ['apple']
options: [1] add item [2] remove item [3] view list [4] exit
Enter your choice:4
Good bye

In [10]:
quiz = {
    "what is my pet name?": "vinie",
    "what was my clg name?" : "studentsinn",
    "what is my profession?" : "writing",
    "what am I learning right now?" : "artificial intelligence"
}
score = 0
for question, correct_ans in quiz.items():
  guess = input(question + " ")
  if guess.lower() == correct_ans.lower():
   print ("Wow Your guess was right!")
   score += 1
  else:
   print (f"Oh no, you lose! The correct answer was {correct_ans}")
print (f"Your final score is {score}")

what is my pet name? vinie
Wow Your guess was right!
what was my clg name? fcg
Oh no, you lose! The correct answer was studentsinn
what is my profession? writing
Wow Your guess was right!
what am I learning right now? enginnering
Oh no, you lose! The correct answer was artificial intelligence
Your final score is 2

In [2]:
friends = {"aswah": 3, "rida": 5, "anveesha": 7}
print(friends)
friends ["rida"] = 1
print(friends)

{'aswah': 3, 'rida': 5, 'anveesha': 7}
{'aswah': 3, 'rida': 1, 'anveesha': 7}

In [3]:
my_list = ['potato', 'tomato', 'ginger']
user_input = int(input("enter a number from 0 to 2:"))
print(my_list[user_input])

enter a number from 1 to 3:2
ginger